run = "npm run install:all && npm run build && npm start"
entrypoint = "backend/server.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run install:all && npm run build"]
